name: Release

on:
  push:
    tags:
      - 'v*'
  
jobs: 
   build:
    name: Release
    runs-on: windows-latest
    permissions: write-all
    steps:
     - uses: actions/checkout@v3
       with:
        version: "^1.0.0"
        token: ${{ SECRETS.GITHUB_TOKEN }}
     - name: make
       run: make -j2
     - name: Get version
       id: get_version
       run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
     - name: Release
       uses: softprops/action-gh-release@v1
       with:
          name: Release ${{ steps.get_version.outputs.VERSION }}
          fail_on_unmatched_files: true
          files: |
            output/pie.exe
